@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

.badge {
  @apply inline-flex items-center rounded-full px-2.5 py-1 text-[8px] font-medium ring-1 ring-inset;
}

.home-category {
  background-image: linear-gradient(to right, #be7c04, #ffbb3f, #ffedcc, #ffffff);
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input[type='number'] {
  -moz-appearance: textfield;
}

.center {
  @apply flex items-center justify-center;
}
